RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
GPATH
GRTAGS
GTAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
*.old
*.bak
*.back
*.backup
*.BAK
*.orig
*.rej
.del-*
*.a
*.o
*.obj
*.so
*.Z
*.elc
*.ln
*.core
*.log
*.vim
*.sav
*_
.*.swp
.swp
.swo
*.dump
Thumbs.db
.DS_Store
.svn
.git
.backup
.gitmodules
.gitignore
.gitdeploy
.gitkeep
.mrt
.idea
